html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("/static/images/white.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: #fd0054;
}

h4 {
  color: #fd0054;
}

li{
  color: white;
}

.accordion {
  background-color: #fd0054;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #a80038;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #fd0054;
  overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fd0054;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fd0054;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
