{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelight.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/story7.js' %}"></script>
    <title>Hello, world!</title>
  </head>

  <body>
    <h1>HOWDY, PARTNER!</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button class="accordion">Activities</button>
                    <div class="panel">
                        <li>Sleeping.</li>
                        <li>Eating.</li>
                        <li>Studying.</li>
                        <li>Cursing.</li>
                        <li>Trying to stay alive every month.</li>
                    </div>
                <button class="accordion">Organizations/Volunteer Experiences</button>
                    <div class="panel">
                        <li>Staff of Research and Strategic Action Departement of BEM Fasilkom UI</li>
                        <li>Vice Project Officer Pemira IKM Fasilkom UI 2019</li>
                    </div>
                <button class="accordion">Awards</button>
                      <div class="panel">
                          <li>Nothing is here.</li>
                     </div>
            </div>
            <div class="col-sm">
                    <p id="mode" class="text-center text" style="font-size: 30px; color:#fd0054"><strong>Light Mode</strong></p>
                    <label class="switch" for="changemode">
                        <input type="checkbox" class="changemode" id="changemode" name="changemode">
                        <span class="slider"></span>
                    </label>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
